<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean name="orderService" class="cn.zynworld.springexample.ioctest.service.OrderService">
		<property name="orderRepository" ref="orderRepository"/>
	</bean>

	<bean name="orderRepository" class="cn.zynworld.springexample.ioctest.service.OrderRepositoryImpl"/>

</beans>